#!/usr/bin/env bash

set -eufo pipefail

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{ $sudo }}apt update 
{{ range .packages.linux.apt -}}
{{ $sudo }}apt install -y {{ . | quote }}
{{ end -}}
{{ end -}}
