{{- $work := false -}}
{{- $wsl := exec "wslinfo" "--version" -}}

{{- $email := "yanns.tremblay@gmail.com" -}}
{{- if $work -}}
{{- 	$email = "GET_A_JOB" -}}
{{- end -}}

[data]
	email = {{ $email | quote }}
	work = {{ $work }}
  wsl = {{ $wsl }}
