[user]
	name = Sebastien Tremblay-Johnston
	email = {{ .email }} 
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	excludesfile = /home/ysebastien/.gitignore
