# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="robbyrussell"

zstyle ':omz:plugins:nvm' lazy yes
plugins=(git aws zsh-autosuggestions direnv zsh-kubectl-prompt nvm fzf)

source $ZSH/oh-my-zsh.sh

# User configuration
export PAGER=less
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi
export XDG_CONFIG_HOME="$HOME/.config"

# Aliases
alias k="kubectl"
alias apt-up="sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y"

# Path
export PATH="$PATH:$HOME/.local/bin"
# krew
export PATH="$PATH:$HOME/.krew/bin"
if [[ "$RPROMPT" != *'$ZSH_KUBECTL_PROMPT'* ]] ; then
    RPROMPT="$RPROMPT "'%{$fg[blue]%}($ZSH_KUBECTL_PROMPT)%{$reset_color%}'
fi
{{ if stat (joinPath .chezmoi.homeDir ".local/bin/nvim-linux-x86_64") -}}
export PATH="$PATH:$HOME/.local/bin/nvim-linux-x86_64/bin"
{{ end -}}
{{ if stat (joinPath .chezmoi.homeDir ".pixi") -}}
export PATH="$PATH:$HOME/.pixi/bin"
{{ end -}}
{{ if stat (joinPath .chezmoi.homeDir ".cargo") -}}
source $HOME/.cargo/env
{{ end -}}

{{ if .work }}
# Prescient
export PRESCIENT_CONFIG_DIR=$HOME/.prescient
{{ end -}}

autoload bashcompinit
bashcompinit

source <(fzf --zsh)
eval "$(zoxide init zsh)"
