#!/usr/bin/env bash

set -eufo pipefail
mkdir -p $HOME/.local/bin

# bin https://github.com/marcosnils
(
    set -x; cd "$(mktemp -d) &&
    curl -sSLO https://github.com/marcosnils/bin/releases/download/v0.25.4/bin_0.25.4_linux_amd64 &&
    ./bin_0.25.4_linux_amd64 install https://github.com/marcosnils/bin  && # bootstrap
    rm -rf ./bin_0.25.4_linux_amd64
)

{{ if lookPath "kubectl" }}
# krew https://krew.sigs.k8s.io/docs/user-guide/setup/install/
(
  set -x; cd "$(mktemp -d)" &&
  OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
  ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
  KREW="krew-${OS}_${ARCH}" &&
  curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
  tar zxvf "${KREW}.tar.gz" &&
  ./"${KREW}" install krew 
)
kubectl krew install ctx
kubectl krew install ns 
{{ end }}

# neovim
( set -x; cd {{ joinPath .chezmoi.homeDir ".local/bin" }} &&
    NVIM_VERSION={{ .packages.linux.precompiled_binary_versions.nvim.version }} &&
    curl -fsSLO https://github.com/neovim/neovim/releases/download/v$NVIM_VERSION/nvim-linux-x86_64.tar.gz &&
    tar xvzf nvim-linux-x86_64.tar.gz &&
    rm nvim-linux-x86_64.tar.gz
)

# aws cli
(
    set -x; cd "$(mktemp -d)" && curl -fsSL "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" &&
    unzip awscliv2.zip &&
    ./aws/install --bin-dir $HOME/.local/bin --install-dir $HOME/.local/aws-cli --update
)

# zoxide
(
    set -x; curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
)

# fzf
(
    set -x; cd "$(mktemp -d)" && 
    FZF_VERSION={{ .packages.linux.precompiled_binary_versions.fzf.version }} &&
    curl -fsSLO "https://github.com/junegunn/fzf/releases/download/v$FZF_VERSION/fzf-$FZF_VERSION-linux_amd64.tar.gz" &&
    tar xvzf "fzf-$FZF_VERSION-linux_amd64.tar.gz" &&
    cp fzf $HOME/.local/bin
)

# bat
(
    set -x; cd "$(mktemp -d)" &&
    BAT_VERSION={{ .packages.linux.precompiled_binary_versions.bat.version }} &&
    curl -fsSLO "https://github.com/sharkdp/bat/releases/download/v$BAT_VERSION/bat-v$BAT_VERSION-x86_64-unknown-linux-gnu.tar.gz" &&
    tar xvzf "bat-v$BAT_VERSION-x86_64-unknown-linux-gnu.tar.gz" &&
    cp "bat-v$BAT_VERSION-x86_64-unknown-linux-gnu/bat" $HOME/.local/bin
)

# rustup
(
    set -x; curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --no-modify-path -y
)
